{% extends 'base.html' %}
{% load static %}


{% block extralink %}
    <link rel="stylesheet" href="{% static 'css/masla.css' %}">
{% endblock extralink %}

{% block title %}
    <title>মাসালা - জান্নাতের সঙ্গী</title>
{% endblock title %}


{% block body %}
<div class="container">
    <div class="d-flex flex-column mb-2">
    {% if cat %}
    <div class="headline h4 pt-3 ps-2 pb-0 m-0">{{cat}}</div>
    <hr class="w-100">
    {% endif %}
    {% for masala in masala %}
    <a href="/masala/{{masala.id}}">
        <div class="div p-2 q-section">
            <div class="d-flex align-items-center">
                <i class="fa fa-question-circle q-icon"></i>
                <p class="question">{{masala.question}}</p>
            </div>
            <div class="d-flex align-items-center justify-content-between bottom-menu">
                <i class="fa fa-bookmark-o"></i>
                <div class="d-flex align-items-center">
                    <p>পঠিতঃ</p>
                    <p>১৮</p>
                    <object><a href="/masala/catagory/{{masala.catagory.title}}">{{masala.catagory.title}}</a></object>
                </div>
            </div>
        </div>
        </a>
    {% endfor %}
    </div>
</div>
{% if masala.paginator.num_pages > 1 %}
        <div class="d-flex justify-content-center mt-3">
            <div class="pagination">
                {% if masala.has_previous %}
                    <a class="text-center" href="?page={{ masala.previous_page_number }}"><i class="fa fa-long-arrow-left fa-lg"></i></a>
                    <a class="text-center" href="?page=1">1</a>
                {% endif %}
                {% if masala.number|add:-2 > 1 %}
                    <p class="dot">...</p>
                {% endif %}
                {% if masala.number|add:-1 > 1 %}
                    <a class="text-center" href="?page={{ masala.number|add:-1 }}">{{ masala.number|add:-1 }}</a>
                {% endif %}
                <div class="current text-center">{{ masala.number }}</div>
                {% if masala.number|add:1 < masala.paginator.num_pages %}
                    <a class="text-center" href="?page={{ masala.number|add:1 }}">{{ masala.number|add:1 }}</a>
                {% endif %}
                {% if masala.number|add:2 < masala.paginator.num_pages %}
                    <p class="dot">...</p>
                {% endif %}
                {% if masala.has_next %}
                    <a class="text-center" href="?page={{ masala.paginator.num_pages }}">{{ masala.paginator.num_pages }}</a>
                    <a class="text-center" href="?page={{ masala.next_page_number }}"><i class="fa fa-long-arrow-right fa-lg"></i></a>
                {% endif %}
            </div>
        </div>
        {% endif %}
{% endblock body %}


{% block extrascript %}
    <script src="{% static 'js/masla.js' %}"></script>
{% endblock extrascript %}